# Python
.venv/
venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/

# GCP credentials / secrets
secrets/
*.json

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db